# EDA
- This notebook conducts data analysis of the World Development Indicators Dataset
- The main variables of interest are GDP, consumption, investment, exports, imports, population, and the birth rate

In [1]:
%load_ext sql
%sql postgresql:///wdi.db

Traceback (most recent call last):
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 716, in checkout
    rec = pool._do_get()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/impl.py", line 170, in _do_get
    self._dec_overflow()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/impl.py", line 167, in _do_get
    return self._create_connection()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 678, in __init__
    self.__connect()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 645, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
psycopg2.OperationalError: connection to server on socket "/tmp/.s.PGSQL.5432" failed: FATAL:  database "wdi.db" does not exist


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sql/connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3269, in connect
    return self._connection_cls(self)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 147, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 2431, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 145, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/base.py", line 3293, in raw_connection
    return self.pool.connect()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 452, in connect
    return _ConnectionFairy._checkout(self)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 1269, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 716, in checkout
    rec = pool._do_get()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/impl.py", line 170, in _do_get
    self._dec_overflow()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/impl.py", line 167, in _do_get
    return self._create_connection()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 393, in _create_connection
    return _ConnectionRecord(self)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 678, in __init__
    self.__connect()
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 903, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 898, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/create.py", line 645, in connect
    return dialect.connect(*cargs, **cparams)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 616, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "/Users/mitch/envs/main/lib/python3.9/site-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) connection to server on socket "/tmp/.s.PGSQL.5432" failed: FATAL:  database "wdi.db" does not exist

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [2]:
%%sql
postgresql:///wdi

## EDA

In [3]:
%%sql
SELECT * FROM main
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('ABW', 'Aruba', 'Birth_Rate', 1960, 35.679, None, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1961, 34.529, -3.22, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1962, 33.32, -3.5, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1963, 32.05, -3.81, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1964, 30.737, -4.1, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1965, 29.413, -4.31, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1966, 28.121, -4.39, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1967, 26.908, -4.31, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1968, 25.817, -4.05, 'Latin America & Caribbean', 'High income'),
 ('ABW', 'Aruba', 'Birth_Rate', 1969, 24.872, -3.66, 'Latin America & Caribbean', 'High income')]

In [4]:
%%sql
SELECT * FROM pop
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('ABW', 1960, 54208, None, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1961, 55434, 2.26, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1962, 56234, 1.44, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1963, 56699, 0.83, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1964, 57029, 0.58, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1965, 57357, 0.58, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1966, 57702, 0.6, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1967, 58044, 0.59, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1968, 58377, 0.57, 'Latin America & Caribbean', 'High income'),
 ('ABW', 1969, 58734, 0.61, 'Latin America & Caribbean', 'High income')]

In [5]:
%%sql
SELECT DISTINCT(indicator) "Indicator"
FROM main
ORDER BY indicator

 * postgresql:///wdi
7 rows affected.

[('Birth_Rate',),
 ('Consumption',),
 ('Exports',),
 ('GDP',),
 ('Imports',),
 ('Investment',),
 ('Population',)]

In [6]:
%%sql
SELECT DISTINCT(income_group) "Income Group"
FROM main
ORDER BY income_group

 * postgresql:///wdi
4 rows affected.

[('High income',),
 ('Low income',),
 ('Lower middle income',),
 ('Upper middle income',)]

In [7]:
%%sql
SELECT DISTINCT(region) "Region"
FROM main
ORDER BY region

 * postgresql:///wdi
7 rows affected.

[('East Asia & Pacific',),
 ('Europe & Central Asia',),
 ('Latin America & Caribbean',),
 ('Middle East & North Africa',),
 ('North America',),
 ('South Asia',),
 ('Sub-Saharan Africa',)]

## Groups: Region

In [8]:
%%sql
SELECT region, ROUND(AVG(value)::numeric, 0) "Average GDP"
FROM main
WHERE indicator = 'GDP'
AND year = 2020
GROUP BY region
ORDER BY AVG(value)

 * postgresql:///wdi
7 rows affected.

[('Sub-Saharan Africa', Decimal('38779423826')),
 ('Latin America & Caribbean', Decimal('137858206484')),
 ('Middle East & North Africa', Decimal('168104657507')),
 ('South Asia', Decimal('404457509131')),
 ('Europe & Central Asia', Decimal('420846057137')),
 ('East Asia & Pacific', Decimal('776186598896')),
 ('North America', Decimal('6969434023656'))]

## Population

### Most Populated Countries

In [9]:
%%sql
SELECT country, value population
FROM main
WHERE indicator = 'Population'
AND year = 2020
ORDER BY population DESC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('China', 1410929362.0),
 ('India', 1380004385.0),
 ('United States', 329484123.0),
 ('Indonesia', 273523621.0),
 ('Pakistan', 220892331.0),
 ('Brazil', 212559409.0),
 ('Nigeria', 206139587.0),
 ('Bangladesh', 164689383.0),
 ('Russia', 144104080.0),
 ('Mexico', 128932753.0)]

### Least Populated Countries

In [10]:
%%sql
SELECT country, value population
FROM main
WHERE indicator = 'Population'
AND year = 2020
ORDER BY population ASC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Nauru', 10834.0),
 ('Tuvalu', 11792.0),
 ('Palau', 18092.0),
 ('British Virgin Islands', 30237.0),
 ('Gibraltar', 33691.0),
 ('San Marino', 33938.0),
 ('Liechtenstein', 38137.0),
 ('St. Martin (French part)', 38659.0),
 ('Turks and Caicos Islands', 38718.0),
 ('Monaco', 39244.0)]

### Fastest Growing

In [11]:
%%sql
SELECT country, region, growth_rate population_growth
FROM main
WHERE indicator = 'Population'
AND year = 2020
ORDER BY growth_rate DESC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Malta', 'Middle East & North Africa', 4.21),
 ('Niger', 'Sub-Saharan Africa', 3.84),
 ('Bahrain', 'Middle East & North Africa', 3.68),
 ('Equatorial Guinea', 'Sub-Saharan Africa', 3.47),
 ('Uganda', 'Sub-Saharan Africa', 3.32),
 ('Angola', 'Sub-Saharan Africa', 3.27),
 ('Dem. Rep. Congo', 'Sub-Saharan Africa', 3.19),
 ('Burundi', 'Sub-Saharan Africa', 3.12),
 ('Mali', 'Sub-Saharan Africa', 3.02),
 ('Chad', 'Sub-Saharan Africa', 3.0)]

### Slowest Growing

In [12]:
%%sql
SELECT country, region, growth_rate population_growth
FROM main
WHERE indicator = 'Population'
AND year = 2020
ORDER BY growth_rate ASC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Moldova', 'Europe & Central Asia', -1.67),
 ('Curaçao', 'Latin America & Caribbean', -1.54),
 ('Kosovo', 'Europe & Central Asia', -0.75),
 ('Latvia', 'Europe & Central Asia', -0.64),
 ('Bosnia and Herzegovina', 'Europe & Central Asia', -0.61),
 ('Bulgaria', 'Europe & Central Asia', -0.6),
 ('Albania', 'Europe & Central Asia', -0.58),
 ('Ukraine', 'Europe & Central Asia', -0.57),
 ('Serbia', 'Europe & Central Asia', -0.53),
 ('Romania', 'Europe & Central Asia', -0.44)]

## Birth Rate

### Highest Birth Rate
- The countries with the highest birth rate are Niger, Chad, and Somolia
- The majority of high birth rate countries are all in Sub-Saharan Africa

In [13]:
%%sql
SELECT country, region, value "Birth Rate"
FROM main
WHERE year = 2019
AND indicator = 'Birth_Rate'
ORDER BY value DESC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Niger', 'Sub-Saharan Africa', 45.637),
 ('Chad', 'Sub-Saharan Africa', 41.665),
 ('Somalia', 'Sub-Saharan Africa', 41.585),
 ('Mali', 'Sub-Saharan Africa', 41.035),
 ('Dem. Rep. Congo', 'Sub-Saharan Africa', 40.639),
 ('Angola', 'Sub-Saharan Africa', 40.232),
 ('Burundi', 'Sub-Saharan Africa', 38.377),
 ('The Gambia', 'Sub-Saharan Africa', 38.073),
 ('Burkina Faso', 'Sub-Saharan Africa', 37.453),
 ('Nigeria', 'Sub-Saharan Africa', 37.446)]

### Lowest Birth Rate
- The countries with the lowest birth rates are Korea, Puerto Rico, San Marino, and Japan
- The majority of low birth rate countries are in Europe/Central Asia and East Asia/Pacific

In [14]:
%%sql
SELECT country, region, value "Birth Rate"
FROM main
WHERE year = 2019
AND indicator = 'Birth_Rate'
ORDER BY value ASC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Korea', 'East Asia & Pacific', 5.9),
 ('Puerto Rico', 'Latin America & Caribbean', 6.4),
 ('San Marino', 'Europe & Central Asia', 6.7),
 ('Japan', 'East Asia & Pacific', 7.0),
 ('Andorra', 'Europe & Central Asia', 7.0),
 ('Italy', 'Europe & Central Asia', 7.0),
 ('Hong Kong SAR, China', 'East Asia & Pacific', 7.0),
 ('Spain', 'Europe & Central Asia', 7.6),
 ('Greece', 'Europe & Central Asia', 7.8),
 ('Bosnia and Herzegovina', 'Europe & Central Asia', 7.938)]

## Groups: Income

### Income Share
- What percent of world income does each income group take up?
- The high income group takes up more than half of world income, at 61%.
- The upper middle income group takes another 29%.
- The low income group only earns 0.5% of world income.

In [15]:
%%sql
SELECT income_group, 
ROUND(100*(SUM(value) / (SELECT SUM(value) FROM main WHERE indicator = 'GDP' AND year = 2020))::numeric, 2) income_share
FROM main
WHERE indicator = 'GDP'
AND year = 2020
GROUP BY income_group
ORDER BY SUM(value) DESC

 * postgresql:///wdi
4 rows affected.

[('High income', Decimal('61.21')),
 ('Upper middle income', Decimal('28.93')),
 ('Lower middle income', Decimal('9.34')),
 ('Low income', Decimal('0.52'))]

### Population Share

In [16]:
%%sql
SELECT income_group, 
ROUND(100*(SUM(value) / (SELECT SUM(value) FROM main WHERE indicator = 'Population' AND year = 2020))::numeric, 2) "Population Share"
FROM main
WHERE indicator = 'Population'
AND year = 2020
GROUP BY income_group
ORDER BY SUM(value) DESC

 * postgresql:///wdi
4 rows affected.

[('Lower middle income', Decimal('43.07')),
 ('Upper middle income', Decimal('32.34')),
 ('High income', Decimal('15.77')),
 ('Low income', Decimal('8.82'))]

## GDP Per Capita

In [17]:
%%sql
DROP TABLE IF EXISTS gdp_table

 * postgresql:///wdi
Done.

[]

- GDP per Capita is the total GDP of the economy divided by the population
- It serves as a broad measure of the average 'income' in each country
- This query computes GDP per Capita for each country-year instance

In [18]:
%%sql
SELECT country,
main.region,
main.income_group,
main.year,
ROUND((value / population)::numeric, 0) "GDP per Capita"
INTO gdp_table
FROM main
LEFT JOIN pop
ON main.country_code = pop.country_code
AND main.year = pop.year
WHERE main.indicator = 'GDP'

 * postgresql:///wdi
9598 rows affected.

[]

In [19]:
%%sql
SELECT * 
FROM gdp_table
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Aruba', 'Latin America & Caribbean', 'High income', 1986, Decimal('17231')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1987, Decimal('20263')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1988, Decimal('24343')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1989, Decimal('27313')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1990, Decimal('27884')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1991, Decimal('28954')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1992, Decimal('29032')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1993, Decimal('29325')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1994, Decimal('29989')),
 ('Aruba', 'Latin America & Caribbean', 'High income', 1995, Decimal('29367'))]

### Richest Countries
- Which countries have the highest GDP per capita
- We can see Monaco, Luxembourg, and Bermuda have the highest GDP per capita

In [20]:
%%sql
SELECT * FROM gdp_table
WHERE year = 2020
ORDER BY "GDP per Capita" DESC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Monaco', 'Europe & Central Asia', 'High income', 2020, Decimal('159222')),
 ('Luxembourg', 'Europe & Central Asia', 'High income', 2020, Decimal('104529')),
 ('Bermuda', 'North America', 'High income', 2020, Decimal('100412')),
 ('Switzerland', 'Europe & Central Asia', 'High income', 2020, Decimal('85682')),
 ('Ireland', 'Europe & Central Asia', 'High income', 2020, Decimal('78558')),
 ('Cayman Islands', 'Latin America & Caribbean', 'High income', 2020, Decimal('76999')),
 ('Norway', 'Europe & Central Asia', 'High income', 2020, Decimal('75017')),
 ('United States', 'North America', 'High income', 2020, Decimal('58560')),
 ('Singapore', 'East Asia & Pacific', 'High income', 2020, Decimal('58057')),
 ('Australia', 'East Asia & Pacific', 'High income', 2020, Decimal('58044'))]

### Poorest Countries
- Burundi, Malawi, and Central African Republic have the lowest GDP per capita.
- The majority of the lowest income countries are in Sub-Saharan Africa

In [21]:
%%sql
SELECT * FROM gdp_table
WHERE year = 2020
ORDER BY "GDP per Capita" ASC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Burundi', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('271')),
 ('Malawi', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('394')),
 ('Central African Republic', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('414')),
 ('Madagascar', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('442')),
 ('Somalia', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('445')),
 ('Dem. Rep. Congo', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('505')),
 ('Niger', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('523')),
 ('Afghanistan', 'South Asia', 'Low income', 2020, Decimal('530')),
 ('Mozambique', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('575')),
 ('Liberia', 'Sub-Saharan Africa', 'Low income', 2020, Decimal('616'))]

### Average GDP Per Capita by Income Group

In [22]:
%%sql
SELECT income_group, 
ROUND(AVG("GDP per Capita")::numeric, 0) "Average GDP per Capita"
FROM gdp_table
WHERE year = 2020
GROUP BY income_group
ORDER BY AVG("GDP per Capita") DESC

 * postgresql:///wdi
4 rows affected.

[('High income', Decimal('36272')),
 ('Upper middle income', Decimal('6812')),
 ('Lower middle income', Decimal('2449')),
 ('Low income', Decimal('668'))]

### Average GDP Per Capita by Region
- Here we can see North America and Europe/Central Asia have the highest average GDP per capita.
- South Asia and Sub-Saharan Africa have the lowest.

In [23]:
%%sql
SELECT region, 
ROUND(AVG("GDP per Capita")::numeric , 0) "Average GDP per Capita"
FROM gdp_table
WHERE year = 2020
GROUP BY region
ORDER BY AVG("GDP per Capita") DESC

 * postgresql:///wdi
7 rows affected.

[('North America', Decimal('67089')),
 ('Europe & Central Asia', Decimal('27439')),
 ('Middle East & North Africa', Decimal('14588')),
 ('East Asia & Pacific', Decimal('14449')),
 ('Latin America & Caribbean', Decimal('11664')),
 ('South Asia', Decimal('2507')),
 ('Sub-Saharan Africa', Decimal('2155'))]

## Group: Region

### Population Share
- East Asia/Pacific take up the highest population share, whereas North America takes the lowest

In [24]:
%%sql
SELECT region "Region",
 ROUND(100*(SUM(value) / (SELECT SUM(value) FROM main WHERE indicator = 'Population' AND year = 2020))::numeric, 2) "Population Share (%)"
FROM main
WHERE indicator = 'Population'
AND year = 2020
GROUP BY region
ORDER BY SUM(value) DESC

 * postgresql:///wdi
7 rows affected.

[('East Asia & Pacific', Decimal('30.33')),
 ('South Asia', Decimal('24.10')),
 ('Sub-Saharan Africa', Decimal('14.70')),
 ('Europe & Central Asia', Decimal('11.98')),
 ('Latin America & Caribbean', Decimal('8.10')),
 ('Middle East & North Africa', Decimal('6.03')),
 ('North America', Decimal('4.77'))]

### Income Share

In [25]:
%%sql
SELECT region "Region",
 ROUND(100*(SUM(value) / (SELECT SUM(value) FROM main WHERE indicator = 'GDP' AND year = 2020))::numeric, 2) "Income Share (%)"
FROM main
WHERE indicator = 'GDP'
AND year = 2020
GROUP BY region
ORDER BY SUM(value) DESC

 * postgresql:///wdi
7 rows affected.

[('East Asia & Pacific', Decimal('31.72')),
 ('Europe & Central Asia', Decimal('26.06')),
 ('North America', Decimal('25.90')),
 ('Latin America & Caribbean', Decimal('6.15')),
 ('South Asia', Decimal('4.01')),
 ('Middle East & North Africa', Decimal('3.96')),
 ('Sub-Saharan Africa', Decimal('2.21'))]

# Covid 19 Crisis

- This section examines the covid-19 crisis
- Across countries, the crisis produced an average decline in GDP of 5%

In [26]:
%%sql
SELECT year, 
ROUND(AVG(growth_rate)::numeric, 2) "Average GDP Growth"
FROM main
WHERE indicator = 'GDP'
AND year BETWEEN 2015 AND 2020
GROUP BY year

 * postgresql:///wdi
6 rows affected.

[(2017, Decimal('3.17')),
 (2015, Decimal('2.66')),
 (2016, Decimal('3.14')),
 (2018, Decimal('3.06')),
 (2019, Decimal('2.81')),
 (2020, Decimal('-5.00'))]

- How did each component of national accounts change?
- We can access this by grouping on the indicator and computing the average over all countries
- Exports faced the strongest downturn, at 11.5%
- GDP faced a downturn of 5%, whereas consumption displayed a smaller downturn of 2.68%

In [27]:
%%sql
SELECT indicator, 
ROUND(AVG(growth_rate)::numeric, 2) "Percentage Change"
FROM main
WHERE year = 2020
GROUP BY indicator
ORDER BY AVG(growth_rate)

 * postgresql:///wdi
6 rows affected.

[('Exports', Decimal('-11.48')),
 ('Imports', Decimal('-9.65')),
 ('Investment', Decimal('-7.82')),
 ('GDP', Decimal('-5.00')),
 ('Consumption', Decimal('-2.68')),
 ('Population', Decimal('1.16'))]

## Covid 19: Which Countries fared the Worst?

- Which countries fared worst during the crisis?
- We can Macao SAR, the Maldives, and Libya fared the worst
- Countries with the worst downturns were typically in Latin America and the Caribbean

In [28]:
%%sql
SELECT country, region, income_group,
growth_rate downturn
FROM main
WHERE indicator = 'GDP'
AND year = 2020
ORDER BY growth_rate
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Macao SAR, China', 'East Asia & Pacific', 'High income', -54.01),
 ('Maldives', 'South Asia', 'Upper middle income', -33.5),
 ('Libya', 'Middle East & North Africa', 'Upper middle income', -31.3),
 ('Turks and Caicos Islands', 'Latin America & Caribbean', 'High income', -26.78),
 ('Lebanon', 'Middle East & North Africa', 'Lower middle income', -21.46),
 ('St. Lucia', 'Latin America & Caribbean', 'Upper middle income', -20.37),
 ('Antigua and Barbuda', 'Latin America & Caribbean', 'High income', -20.19),
 ('Barbados', 'Latin America & Caribbean', 'High income', -18.98),
 ('Curaçao', 'Latin America & Caribbean', 'High income', -18.4),
 ('Panama', 'Latin America & Caribbean', 'High income', -17.94)]

### Larger Countries
- The countries with the largest downturns are all quite small
- What about larger countries?
- To study this, I restrict that each countries population share is more than 0.5% of the world population
- Using this restriction, we can see that Iraq, Spain, and Argentina fared the worst

In [29]:
%%sql
WITH mod AS (
    SELECT main.country, main.growth_rate, main.income_group, main.region, 
    ROUND((100*pop.population / (SELECT SUM(population) FROM pop WHERE year = 2020)), 2)::numeric population_share
    FROM 
    main LEFT JOIN  pop
    ON main.country_code = pop.country_code
    AND main.year = pop.year
    WHERE main.year = 2020
    AND indicator = 'GDP'
)
SELECT * FROM mod
WHERE population_share >= 0.5
ORDER BY growth_rate ASC
LIMIT 20

 * postgresql:///wdi
20 rows affected.

[('Iraq', -15.67, 'Upper middle income', 'Middle East & North Africa', Decimal('0.52')),
 ('Spain', -10.82, 'High income', 'Europe & Central Asia', Decimal('0.61')),
 ('Argentina', -9.9, 'Upper middle income', 'Latin America & Caribbean', Decimal('0.59')),
 ('Philippines', -9.57, 'Lower middle income', 'East Asia & Pacific', Decimal('1.42')),
 ('United Kingdom', -9.4, 'High income', 'Europe & Central Asia', Decimal('0.87')),
 ('Italy', -8.94, 'High income', 'Europe & Central Asia', Decimal('0.77')),
 ('Mexico', -8.31, 'Upper middle income', 'Latin America & Caribbean', Decimal('1.67')),
 ('France', -7.86, 'High income', 'Europe & Central Asia', Decimal('0.87')),
 ('India', -7.25, 'Lower middle income', 'South Asia', Decimal('17.91')),
 ('Colombia', -6.8, 'Upper middle income', 'Latin America & Caribbean', Decimal('0.66')),
 ('South Africa', -6.43, 'Upper middle income', 'Sub-Saharan Africa', Decimal('0.77')),
 ('Thailand', -6.1, 'Upper middle income', 'East Asia & Pacific', Decimal('0.91')),
 ('Algeria', -5.1, 'Lower middle income', 'Middle East & North Africa', Decimal('0.57')),
 ('Japan', -4.59, 'High income', 'East Asia & Pacific', Decimal('1.63')),
 ('Germany', -4.57, 'High income', 'Europe & Central Asia', Decimal('1.08')),
 ('Brazil', -4.06, 'Upper middle income', 'Latin America & Caribbean', Decimal('2.76')),
 ('Ukraine', -4.0, 'Lower middle income', 'Europe & Central Asia', Decimal('0.57')),
 ('Sudan', -3.63, 'Low income', 'Sub-Saharan Africa', Decimal('0.57')),
 ('United States', -3.4, 'High income', 'North America', Decimal('4.28')),
 ('Russia', -2.95, 'Upper middle income', 'Europe & Central Asia', Decimal('1.87'))]

In [52]:
%%sql
-- computing the moving average
SELECT country_code, year, 
ROUND(AVG(growth_rate) OVER(
    PARTITION BY country_code ORDER BY year ASC ROWS BETWEEN 11 PRECEDING AND 1 PRECEDING
    )::numeric, 2) moving_average
FROM main
WHERE 
indicator = 'GDP'
AND country_code = 'USA'
ORDER BY year DESC
LIMIT 20

 * postgresql:///wdi
20 rows affected.

[('USA', 2020, Decimal('1.86')),
 ('USA', 2019, Decimal('1.65')),
 ('USA', 2018, Decimal('1.55')),
 ('USA', 2017, Decimal('1.60')),
 ('USA', 2016, Decimal('1.76')),
 ('USA', 2015, Decimal('1.83')),
 ('USA', 2014, Decimal('1.86')),
 ('USA', 2013, Decimal('1.85')),
 ('USA', 2012, Decimal('1.73')),
 ('USA', 2011, Decimal('1.97')),
 ('USA', 2010, Decimal('2.17')),
 ('USA', 2009, Decimal('2.81')),
 ('USA', 2008, Decimal('3.22')),
 ('USA', 2007, Decimal('3.39')),
 ('USA', 2006, Decimal('3.37')),
 ('USA', 2005, Decimal('3.42')),
 ('USA', 2004, Decimal('3.32')),
 ('USA', 2003, Decimal('3.38')),
 ('USA', 2002, Decimal('3.22')),
 ('USA', 2001, Decimal('3.30'))]

# Global Financial Crisis

- How did national accounts change during the global financial crisis?
- We observe an average decline in GDP of only 0.02%.
- Imports, exports, and investment display larger declines.

In [223]:
%%sql
SELECT indicator, 
ROUND(AVG(growth_rate)::numeric, 2) "Percentage Change"
FROM main
WHERE year = 2009
GROUP BY indicator
ORDER BY AVG(growth_rate)

 * postgresql:///wdi
7 rows affected.

[('Imports', Decimal('-6.95')),
 ('Exports', Decimal('-5.70')),
 ('Investment', Decimal('-3.77')),
 ('Birth_Rate', Decimal('-0.82')),
 ('GDP', Decimal('-0.02')),
 ('Population', Decimal('1.49')),
 ('Consumption', Decimal('2.06'))]

### Global Financial Crisis: High Income Countries
- Let's focus on high income countries.
- Here we can see the decline is more dramatic relative to the average.
- Why? The global financial crisis was a financial crisis, so it disproportionately impacted high income countries.
- GDP declines by 3.6% on average.
- Investment displayed a sharped decline of 12.7%.

In [224]:
%%sql
SELECT indicator, 
ROUND(AVG(growth_rate)::numeric, 2) "Percentage Change"
FROM main
WHERE year = 2009
AND income_group = 'High income'
GROUP BY indicator
ORDER BY AVG(growth_rate)

 * postgresql:///wdi
7 rows affected.

[('Investment', Decimal('-12.66')),
 ('Imports', Decimal('-12.63')),
 ('Exports', Decimal('-8.72')),
 ('GDP', Decimal('-3.60')),
 ('Consumption', Decimal('-1.00')),
 ('Birth_Rate', Decimal('-0.85')),
 ('Population', Decimal('1.27'))]

# Long Run Changes
- This section studies long run changes in GDP per capita

## Least Improved
- Which countries faced the largest decline in GDP per capita from 2000 to 2019?
- The countries with the largest decline are Guinea, Syria, and Libya

In [225]:
%%sql
WITH focus AS (
    SELECT *, 
    LAG("GDP per Capita", 1) OVER(PARTITION BY country ORDER BY year ASC) LGDP
    FROM gdp_table
    WHERE year = 2010
    OR year = 2019
)
SELECT country, region,
ROUND((100*("GDP per Capita" - LGDP )/ LGDP )::numeric, 2) change
FROM focus
WHERE year = 2019
ORDER BY (100*("GDP per Capita" - LGDP )/ LGDP ) ASC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Equatorial Guinea', 'Sub-Saharan Africa', Decimal('-46.72')),
 ('Syrian Arab Republic', 'Middle East & North Africa', Decimal('-40.14')),
 ('Libya', 'Middle East & North Africa', Decimal('-32.68')),
 ('Sudan', 'Sub-Saharan Africa', Decimal('-30.05')),
 ('Congo', 'Sub-Saharan Africa', Decimal('-26.01')),
 ('Lebanon', 'Middle East & North Africa', Decimal('-25.32')),
 ('Virgin Islands', 'Latin America & Caribbean', Decimal('-23.75')),
 ('Central African Republic', 'Sub-Saharan Africa', Decimal('-21.43')),
 ('Oman', 'Middle East & North Africa', Decimal('-19.12')),
 ('San Marino', 'Europe & Central Asia', Decimal('-15.54'))]

## Most Improved
- Which countries faced the largest increase in GDP per capita from 2000 to 2019?
- The countries with the largest increase are Nauru, Turkmenistan, and China
- The majority of countries are in East Asia/ Pacific

In [226]:
%%sql
WITH focus AS (
    SELECT *, 
    LAG("GDP per Capita", 1) OVER(PARTITION BY country ORDER BY year ASC) LGDP
    FROM gdp_table
    WHERE year = 2010
    OR year = 2019
)
SELECT country, region,
ROUND((100*("GDP per Capita" - LGDP )/ LGDP )::numeric, 2) change
FROM focus
WHERE year = 2019
AND LGDP IS NOT NULL
ORDER BY (100*("GDP per Capita" - LGDP )/ LGDP ) DESC
LIMIT 10

 * postgresql:///wdi
10 rows affected.

[('Nauru', 'East Asia & Pacific', Decimal('102.23')),
 ('Turkmenistan', 'Europe & Central Asia', Decimal('80.33')),
 ('China', 'East Asia & Pacific', Decimal('79.83')),
 ('Ethiopia', 'Sub-Saharan Africa', Decimal('76.60')),
 ('Myanmar', 'East Asia & Pacific', Decimal('71.43')),
 ('Mongolia', 'East Asia & Pacific', Decimal('67.11')),
 ('Bangladesh', 'South Asia', Decimal('64.85')),
 ('Ireland', 'Europe & Central Asia', Decimal('63.59')),
 ('Lao PDR', 'East Asia & Pacific', Decimal('62.61')),
 ('Cambodia', 'East Asia & Pacific', Decimal('61.55'))]