In [26]:
import os
from google.cloud import bigquery

os.environ.setdefault("GCLOUD_PROJECT", "enduring-rush-410922")
client = bigquery.Client()

In [32]:
QUERY = """
SELECT country_code, 
CASE
    WHEN indicator_code = "NY.GDP.MKTP.KD" THEN "GDP"
    WHEN indicator_code = "NE.CON.TOTL.KD" THEN "Consumption"
    WHEN indicator_code = "NE.GDI.FTOT.KD" THEN "Investment"
    WHEN indicator_code = "NE.EXP.GNFS.KD" THEN "Exports"
    WHEN indicator_code = "NE.IMP.GNFS.KD" THEN "Imports"
    WHEN indicator_code = "SP.POP.TOTL" THEN "Population"
END AS Indicator,
year Year,
value
FROM bigquery-public-data.world_bank_wdi.indicators_data
WHERE indicator_code IN (
    "NY.GDP.MKTP.KD", --GDP
    "NE.CON.TOTL.KD", --Consumption
    "NE.GDI.FTOT.KD", --Investment
    "NE.EXP.GNFS.KD", --Exports
    "NE.IMP.GNFS.KD",  --Imports
    "SP.POP.TOTL" --Population
  ) 
ORDER BY country_code, indicator, year
"""

In [33]:
# Perform a query.
query_job = client.query(QUERY)  # API request
df = query_job.to_dataframe()

In [34]:
df.to_csv('../data/main.csv')
df

      country_code    Indicator  Year         value
0              ABW  Consumption  2015  2.328514e+09
1              ABW      Exports  2015  2.158564e+09
2              ABW          GDP  1986  1.079460e+09
3              ABW          GDP  1987  1.253020e+09
4              ABW          GDP  1988  1.486691e+09
...            ...          ...   ...           ...
60138          ZWE   Population  2016  1.403034e+07
60139          ZWE   Population  2017  1.423660e+07
60140          ZWE   Population  2018  1.443881e+07
60141          ZWE   Population  2019  1.464547e+07
60142          ZWE   Population  2020  1.486293e+07

[60143 rows x 4 columns]

In [36]:
df.Indicator.value_counts()

Indicator
Population     16123
GDP            12177
Imports         8176
Exports         8157
Consumption     8087
Investment      7423
Name: count, dtype: int64